header {
  grid-area: _header;
  display: grid;
  grid-template-columns: var(--frist-column-w) minmax(auto, 700px) auto;
  height: 100%;
  grid-template-areas: "logo src-bar .";
  z-index: 500;
  border-bottom: 1px solid rgb(212, 212, 212);

  h1 {
    grid-area: logo;
    align-self: center;
    padding: 0 10px;
    font-size: 28px;
    color: var(--accent-color);
  }
  form {
    grid-area: src-bar;
  }
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
    padding: 6px;
    cursor: pointer;
  }
}
