.job_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 3px;
  width: 100%;
  min-height: calc(100% - 60px);
  overflow-y: auto;
  background-color: white;
  transition: 0.2s ease-out;
  z-index: 2000;
  font-size: var(--job-list-font-s);
  .job {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100% !important;
    padding: 5px 8px;
    border: 1px solid var(--border-color);
    border-radius: 16px;

    strong,
    span {
      display: flex;
      text-align: left;
      overflow: hidden;
      min-width: 100%;
    }
    &:hover {
      border-color: var(--accent-color);
      box-shadow: 0 4px 6px var(--shadow-color);
    }
  }
  .active {
    border-color: var(--accent-color);
    box-shadow: 0 2px 6px var(--shadow-color);
  }
}

._reduced {
  width: var(--frist-column-w);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s, width 0.1s linear;
}
