@media screen and (min-width: 576px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--border-color);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
  }
}

/* @media screen and (max-width: 768px) {
  .App {
    grid-template-columns: var(--frist-column-w) minmax(auto, 700px);
    grid-template-rows: 60px auto;
    grid-template-areas:
      "_header _header "
      ". home ";
    --frist-column-w: 200px;
    --job-list-font-s: 14px;
  }
}
 */
